@import "nullstyle.scss";

body {
  font-family: "Roboto";
  width: 100%;
  // box-sizing: border-box;
  &.lock {
    overflow: hidden;
    box-sizing: border-box;
  }
}

%flex-container-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-container-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  width: 100%;
  background-color: #696969;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  @extend %flex-container-sb;
  &--navs {
    width: 455px;
    display: flex;
    padding: 20px 0 18px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #c3c3c3;
      font-size: 12px;
      position: relative;
      flex: 1 1 auto;
      &.active {
        color: #fff;
        &::after {
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          left: -15px;
          bottom: -19px;
          content: "";
          background-color: #ffc925;
        }
      }
      &:hover {
        color: #fff;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
      }
    }
  }

  &--signin {
    // width: 124px;
    @extend %flex-container-c;
    background-color: #ff8900;
    height: 100%;

    a {
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding: 17px 31px 18px 34px;
      @extend %flex-container-c;
      img {
        margin-right: 11px;
      }
    }
    &:hover {
      background-color: #ff4800;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
  }
}

.main-section {
  font-size: 16px;
  .row-1 {
    @extend %flex-container-sb;
    flex-wrap: wrap;
    &:first-child {
      margin-top: 34px;
    }
    .logo {
      max-width: 100%;
      height: auto;
    }
    .contact-us {
      display: flex;
      align-items: center;
      width: 42.3%;
      background-color: #f5f5f5;
      span {
        flex: 1 1 100px;
        color: #151515;
        font-weight: 700;
        &:first-child {
          padding: 16px 0 17px 12px;
        }
      }
      .call-me {
        @extend %flex-container-c;
        // height: 100%;
        background-color: #ff8900;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          color: #fff;
          padding: 15px 39px 17px 26px;
          img {
            margin-right: 7px;
            max-width: 100%;
            height: auto;
          }
        }
        &:hover {
          background-color: #ff4800;
          transition: all 0.3s linear;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
        }
      }
    }
    .user-nav {
      @extend %flex-container-sb;
      width: 20.9%;
      padding-right: 32px;
      a {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        font-size: 10px;
        color: #3d3d3d;
        text-transform: uppercase;
        p {
          margin-top: 10px;
        }
        .basket {
          @extend %flex-container-c;
          width: 20px;
          height: 15px;
          background-color: #ff8500;
          box-shadow: 0 5px 8px rgba(247, 129, 0, 0.7);
          position: absolute;
          top: -20px;
          right: 12px;
          span {
            font-size: 11px;
            color: #ffffff;
            text-transform: uppercase;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            bottom: -5px;
            left: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #ff8500;
          }
        }
        &::after {
          display: inline-block;
          content: "";
          width: 1px;
          height: 64px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #e4e4e4;
        }
        &:first-child {
          justify-content: start;
          img {
            margin-left: 7px;
          }
        }
        &:nth-child(2) {
          justify-content: center;
        }
        &:last-child {
          justify-content: flex-end;
          img {
            margin-right: 7px;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .row-2 {
    @extend %flex-container-sb;
    margin-top: 38px;
    .menu {
      flex: 1;
      display: flex;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-right: 20px;
      &--icon {
        background-color: #db7200;
        @extend %flex-container-c;
        a {
          @extend %flex-container-c;
          padding: 23px 23px 23px 25px;
        }
      }
      span {
        flex: 1 1;
        padding: 17px 0 19px 23px;
        background-color: #ffa100;
      }
    }
    .search {
      flex: 3.13 1;
      form {
        display: flex;
        background-color: #f5f5f5;
        .search-area {
          padding-left: 28px;
          flex: 4.9 1;
          background-color: inherit;
        }
        .select {
          display: flex;
          flex: 1.1 1;
          position: relative;
          overflow: hidden;
          select {
            color: #616161;
            appearance: none;
            outline: none;
            cursor: pointer;
            background-color: inherit;
            display: inline-block;
            flex: 1;
            padding-left: 14px;
            font-family: "Roboto";
            font-size: 14px;
          }
          &::after {
            content: "\25BC";
            font-size: 9px;
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 28px;
            color: #8c8c8c;
          }
          &::before {
            display: inline-block;
            content: "";
            width: 1px;
            height: 37px;
            background-color: #dadada;
            position: absolute;
            top: 10px;
            left: 0;
          }
        }
        .submit-btn {
          padding: 18.5px 0;
          flex: 1.2;
          background-color: #ffa100;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #ff4800;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
          }
        }
      }
    }
  }
  .row-3 {
    display: flex;
    margin-top: 20px;
    box-sizing: border-box;
    .menu-list {
      margin-right: 20px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      flex: 1;
      li {
        position: relative;
        a {
          text-decoration: none;
          color: #3b3b3b;
          margin-left: 40px;
          width: 100%;
          &:hover {
            color: #ffab00;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
          }
        }
        &:first-child {
          margin-top: 13px;
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #e8e8e8;
          margin-top: 19px;
        }
        &::before {
          content: "";
          display: block;
          width: 8px;
          height: 14px;
          background: url(../images/arrow.png) no-repeat;
          position: absolute;
          top: 0;
          right: 34px;
        }
        &:not(:last-child) {
          &::after {
            margin-bottom: 19px;
          }
        }
      }
    }

    .filters {
      flex: 3.13;
      background-color: #696969;
      &--nav {
        display: flex;
        padding: 0 26px;
        background-color: #606a76;
        a {
          flex: 1;
          padding: 22px 0 20px;
          color: #fff;
          opacity: 0.4;
          font-size: 18px;
          font-weight: 700;
          line-height: 40px;
          @extend %flex-container-c;
          img {
            margin-right: 13px;
          }
          &.active {
            opacity: 1;
            position: relative;
            &::after {
              display: block;
              content: "";
              width: 100%;
              height: 2px;
              background-color: #ffc925;
              position: absolute;
              bottom: 0;
            }
          }
          &:hover {
            opacity: 1;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
          }
        }
      }
      &--tabs {
        width: 281px;
        padding: 3px 4px;
        margin: 24px 0 0 36px;
        background-color: #efefef;
        display: flex;
        &-btn {
          background-color: inherit;
          font-size: 14px;
          color: #696969;
          flex: 1;
          padding: 13px 46px 14px 53px;
          &.active {
            background-color: #ff8900;
            color: #fff;
            padding: 13px 46px 14px 58px;
          }
        }
      }
      &--selects {
        margin: 23px 22px 0 25px;
        &-row {
          @extend %flex-container-c;
          .select {
            max-width: 222px;
            position: relative;
            background-color: #ffffff;
            color: #9c9c9c;
            flex: 1 1 200px;
            margin: 0 10px;
            &.is-active {
              .select--body {
                display: block;
              }
            }
            &--header {
              flex: 1 1 200px;
              display: flex;
              cursor: pointer;
              span {
                padding: 0;
                margin: 0 0 0 15px;
                color: #9c9c9c;
              }
            }
            &--icon {
              @extend %flex-container-c;
              flex-shrink: 0;
              padding-right: 25px;
              text-align: center;
              margin-left: auto;
              font-size: 8px;
              color: #ff8500;
            }
            &--current {
              font-size: 14px;
              line-height: 40px;
              padding: 13px 0 16px 15px;
            }
            &--body {
              display: none;
              border: 1px solid #ccc;
              position: absolute;
              left: 0;
              right: 0;
              top: 100%;
              background-color: inherit;
              z-index: 10;
            }
            &--item {
              font-size: 14px;
              line-height: 24px;
              padding: 8px 0 8px 15px;
              cursor: pointer;
              &:hover {
                background-color: #f2f2f2;
              }
            }
            &::after {
              display: block;
              content: "";
              width: 100%;
              height: 1px;
              background-color: #f5f5f5;
              position: absolute;
              bottom: -2px;
              left: 0;
            }
          }
          &:last-child {
            margin: 26px 10px 0 0;
            .select {
              &:last-child {
                margin-right: 23px;
              }
            }
            .input-wrap {
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        span {
          color: #fff;
          margin: 0 26px 0 13px;
          font-size: 14px;
        }
        .input-wrap {
          margin-right: 13px;
          position: relative;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          input {
            max-width: 74px;
            padding: 10.6px 0 12.6px;
            flex: 1 1 50px;
            text-align: center;
            font-size: 14px;
          }
          &::after {
            display: block;
            content: "";
            width: 74px;
            height: 1px;
            background-color: #f5f5f5;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
          }
          &.active {
            &::after {
              background-color: #ff8500;
            }
          }
        }
      }
      &--btns {
        max-width: 100%;
        @extend %flex-container-sb;
        margin: 25px 34px 0 37px;
        input {
          width: 210px;
          padding: 16.6px 0;
          font-size: 14px;
          color: #fff;
          background-color: #ff8700;
          cursor: pointer;
          &:hover {
            background-color: #ff4800;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
          }
          &:last-child {
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.products {
  margin-top: 38px;
  &--header {
    @extend %flex-container-sb;
    padding: 0 3px;
    .products--title {
      font-size: 36px;
      color: #3b3b3b;
      line-height: 40px;
      position: relative;
      padding-bottom: 12px;
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ff8500;
        position: absolute;
        left: 0;
        bottom: -1px;
      }
    }
    span {
      font-size: 14px;
      color: #ff8500;
      &:first-child {
        color: #000000;
        text-decoration: underline;
        padding-right: 11px;
      }
      &:hover {
        text-decoration: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
  }
  &--row {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    &-item {
      flex: 1;
      border-right: 1px solid #dbdbdb;
      padding: 0 11px 0 19px;
      &:last-child {
        border-right: 0;
      }
    }
    &-mark {
      display: block;
      width: 79px;
      height: 22px;
      background-color: #f2f2f2;
      color: #848484;
      margin: 20px 0;
    }
    &-title {
      font-size: 17px;
      text-decoration: underline;
      color: #3b3b3b;
      line-height: 26px;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
    &-overview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      span {
        font-size: 12px;
        color: #757575;
      }
    }
    &-rating {
      display: flex;
      align-items: center;
      &-wrap {
        display: inline-flex;
        flex-direction: row-reverse;
        &[data-total-value="1"] .products--row-rating-item:nth-child(n + 5),
        &[data-total-value="2"] .products--row-rating-item:nth-child(n + 4),
        &[data-total-value="3"] .products--row-rating-item:nth-child(n + 3),
        &[data-total-value="4"] .products--row-rating-item:nth-child(n + 2),
        &[data-total-value="5"] .products--row-rating-item:nth-child(n + 1) {
          color: #ff8600;
        }
      }
      &-item {
        font-size: 20px;
        margin: 0 2px;
        color: #a4a4a4;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover,
        &:hover ~ .products--row-rating-item {
          color: #e9d084;
        }
      }
      a {
        margin-left: 10px;
        font-size: 13px;
        color: #9b9b9b;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
        }
      }
    }
    &-pictures {
      @extend %flex-container-c;
      position: relative;
      color: #91959a;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: 25px;
      height: 205px;
      max-width: 100%;
      z-index: 1;
    }
    &-info {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      img {
        max-width: 100%;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
    &-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
        margin-bottom: 19px;
      }
      &:nth-child(2) {
        margin-bottom: 24px;
      }
    }
    &-tags {
      @extend %flex-container-c;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 20px;
      z-index: 10;
      height: 26px;
      div {
        width: 74px;
        padding: 10px 0 9px;
      }
      .tag-new {
        background-image: url("../images/bg-1.png");
        background-size: cover;
        z-index: 10;
      }
      .tag-popular {
        background-image: url("../images/bg-2.png");
        background-size: cover;
        z-index: 10;
      }
      .tag-discount {
        background-image: url("../images/bg-3.png");
        background-size: cover;
        z-index: 10;
      }
    }
    &-prices {
      @extend %flex-container-sb;
      font-style: italic;
      text-transform: uppercase;
      font-weight: 700;
      .current-price {
        font-size: 30px;
        letter-spacing: 1.5px;
        color: #3b3b3b;
        span {
          font-size: 18px;
          letter-spacing: 0.9px;
        }
      }
      .old-price {
        font-size: 16px;
        text-decoration: line-through #e00000;
        color: #989898;
      }
    }

    &-btn {
      @extend %flex-container-c;
      width: 210px;
      padding: 12px 0 14px;
      margin: 26px auto 0;
      background-color: #ffab00;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      img {
        margin-right: 15px;
      }
      &:hover {
        background-color: #e48f00;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
    &-footer {
      @extend %flex-container-sb;
      padding: 0 3px 0 2px;
      margin: 15px 0 16px;
    }
    &-link {
      display: flex;
      align-items: center;
      text-decoration: underline;
      color: #3b3b3b;
      line-height: 26px;
      img {
        margin-right: 11px;
      }
      &:hover {
        text-decoration: none;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
  }
}

.footer {
  margin-top: 61px;
  background-color: #696969;
  .row-1 {
    display: flex;
    padding-top: 37px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.1);
    .block-title {
      display: inline;
      font-size: 20px;
      font-weight: 500;
      color: #cbcbcb;
      padding-bottom: 15px;
      position: relative;
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ff8500;
        position: absolute;
        bottom: 1px;
        left: 0;
      }
    }
    .block-1 {
      max-width: 575px;
      flex: 1;
      margin-right: 115px;
      &-inner {
        margin-top: 15px;
        padding-top: 30px;
        border-top: 1px solid rgba(219, 219, 219, 0.15);
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        color: #cbcbcb;
        text-transform: uppercase;
      }
      .subscribe {
        font-size: 26px;
        color: #ffffff;
        margin: 5px 0 14px;
      }
      form {
        display: flex;
        box-sizing: border-box;
        input {
          flex: 1.35;
          padding: 17px 0 18px;
          font-size: 16px;
        }
        .subscribe {
          &-input {
            flex: 3;
            padding-left: 30px;
            font-size: 14px;
            background-color: #f5f5f5;
          }
          &-btn {
            text-transform: uppercase;
            background-color: #ff8900;
            color: #fff;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
              background-color: #d46f00;
            }
          }
        }
      }
    }
    .links-block {
      display: flex;
      align-items: center;
      flex: 1;
      &--item {
        flex: 1;
        &:nth-child(2) {
          margin: 0 20px;
        }
      }
      &--nav {
        margin-top: 15px;
        padding-top: 19px;
        font-size: 13px;
        border-top: 1px solid rgba(219, 219, 219, 0.15);
        li {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 36px;
          }
          a {
            color: #fff;
            text-decoration: underline;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .row-2 {
    @extend %flex-container-sb;
    margin-top: 26px;
    padding-bottom: 8px;
    &-item {
      display: flex;
      align-items: center;
      .footer--logo {
        position: relative;
        margin-right: 15px;
        padding: 1px 0 2px;
        img {
          margin-right: 22px;
        }
        &::after {
          display: inline-block;
          content: "";
          width: 1px;
          height: 42px;
          background-color: #ffffff;
          opacity: 0.1;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      span {
        font-size: 12px;
        color: #a0a9b2;
      }
      .wezom-logo {
        position: relative;
        margin-right: 17px;
        img {
          margin-right: 19px;
        }
        &::after {
          display: inline-block;
          content: "";
          width: 1px;
          height: 42px;
          background-color: #ffffff;
          opacity: 0.1;
          position: absolute;
          top: -15px;
          right: 0;
        }
      }
      .footer--info {
        .company-name {
          font-size: 14px;
          color: #ffffff;
          line-height: 30px;
        }
      }
    }
  }
  &--icon {
    font-size: 16px;
    color: #fff;
    padding: 16px 16px 17px 15px;
    border: 1px solid #7b8092;
    margin-right: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2) {
      padding: 16px 20px 17px 19px;
    }
    &:nth-child(3) {
      padding: 16px 17px 17px 16px;
    }
    &:hover {
      color: #ffc925;
      border-color: #ffc925;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  &.open {
    opacity: 1;
    visibility: visible;
    .popup--content {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  &--area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &--body {
    min-height: 100%;
    @extend %flex-container-c;
    // padding: 10px;
  }
  &--content {
    display: flex;
    max-width: 755px;
    padding: 34px 0 34px 0;
    background-color: #fff;
    position: relative;
    opacity: 0;
    transform: translate(0px, -100%);
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
  }
  &--close {
    width: 27px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: -40px;
    right: -40px;
    &:hover {
      &::before,
      &::after {
        background-color: #ff8800;
      }
    }
    &::before,
    &::after {
      position: absolute;
      top: -3px;
      left: 12px;
      content: "";
      height: 33px;
      width: 2px;
      background-color: #dbdbdb;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    &::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
  }
  &--block {
    &:nth-child(2) {
      padding: 0 41px 0 43px;
      border-right: 1px solid #dbdbdb;
    }
    &:nth-child(3) {
      padding: 0 37px 0 40px;
    }
  }
  &--title {
    font-size: 24px;
    color: #3b3b3b;
    font-weight: 700;
    margin-bottom: 29px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #3b3b3b;
    input:not(.popup--checkbox) {
      width: 299px;
      padding-left: 14px;
      border: 1px solid #d2d2d2;
      background-color: #ffffff;
      line-height: 40px;
      box-sizing: border-box;
    }
    input[type="email"] {
      margin: 15px 0 20px;
    }
    input[type="password"] {
      margin: 12px 0 28px;
    }
    input[type="submit"] {
      width: 210px;
      background-color: #afb9c6;
      color: #ffffff;
      padding: 4px 0;
      cursor: pointer;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        background-color: #ff4800;
      }
    }
  }
  &--checkbox {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    &-wrap {
      display: flex;
      align-items: center;
    }
  }
  &--links {
    margin: 26px 0 27px;
    a {
      text-decoration: underline;
      color: #3d3d3d;
      &:hover {
        text-decoration: none;
      }
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  &--social {
    display: flex;
    flex-direction: column;
    a {
      @extend %flex-container-c;
      width: 293px;
      font-size: 14px;
      color: #fff;
      i {
        font-size: 16px;
      }
      &:first-child {
        padding: 16px 0 18px;
        background-color: #3b5998;
        i {
          margin-right: 16px;
        }
      }
      &:nth-child(2) {
        padding: 17px 0;
        background-color: #41abe1;
        margin: 23px 0;
        i {
          margin-right: 11px;
        }
      }
      &:last-child {
        padding: 17px 0;
        background-color: #ea4335;
        i {
          margin-right: 12px;
        }
      }
    }
  }
}
#recall {
  .popup--content {
    padding: 0;
  }
  .popup--block {
    padding: 35px 41px 46px 38px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #3b3b3b;
      margin-bottom: 33px;
    }
    span {
      color: #3b3b3b;
      margin-bottom: 12px;
    }
    input[type="tel"] {
      border: 1px solid #d2d2d2;
      margin-bottom: 31px;
    }
    input[type="submit"] {
      background-color: #ff8900;
      margin: 0 auto;
      cursor: pointer;
      &:hover {
        background-color: #ff4800;
      }
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
}
.hidden-point {
  position: fixed;
  width: 5px;
  height: 5px;
  top: 0;
  left: 50%;
  opacity: 0;
  visibility: hidden;
}
