@charset "UTF-8";
/*Обнуление*/
hmtl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
}

.header--signin, .main-section .row-1 .contact-us .call-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100%;
  background-color: #696969;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--navs {
  width: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 18px;
}

.header--navs a {
  text-transform: uppercase;
  text-decoration: none;
  color: #c3c3c3;
  font-size: 12px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header--navs a.active {
  color: #fff;
}

.header--navs a.active::after {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: -15px;
  bottom: -19px;
  content: "";
  background-color: #ffc925;
}

.header--navs a:hover {
  color: #fff;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.header--signin {
  width: 124px;
  background-color: #ff8900;
  height: 100%;
  padding: 19px 0;
}

.header--signin a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header--signin a img {
  stroke: red;
}

.main-section {
  font-size: 16px;
}

.main-section .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-section .row-1:first-child {
  margin-top: 34px;
}

.main-section .row-1 .logo {
  max-width: 100%;
  height: auto;
}

.main-section .row-1 .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42.3%;
  background-color: #f5f5f5;
}

.main-section .row-1 .contact-us span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  color: #151515;
  font-weight: 700;
}

.main-section .row-1 .contact-us span:first-child {
  padding: 18px 0 20px 12px;
}

.main-section .row-1 .contact-us .call-me {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background-color: #ff8900;
  padding: 18px 0 20px;
}

.main-section .row-1 .contact-us .call-me a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}

.main-section .row-1 .contact-us .call-me a img {
  margin-right: 7px;
  max-width: 100%;
  height: auto;
}

.main-section .row-1 .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.9%;
  padding-right: 32px;
}

.main-section .row-1 .user-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  font-size: 10px;
  color: #3d3d3d;
  text-transform: uppercase;
}

.main-section .row-1 .user-nav a p {
  margin-top: 10px;
}

.main-section .row-1 .user-nav a::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e4e4e4;
}

.main-section .row-1 .user-nav a:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main-section .row-1 .user-nav a:first-child img {
  margin-left: 7px;
}

.main-section .row-1 .user-nav a:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .row-1 .user-nav a:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-section .row-1 .user-nav a:last-child img {
  margin-right: 7px;
}

.main-section .row-1 .user-nav a:last-child::after {
  display: none;
}

.main-section .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
}

.main-section .row-2 .menu {
  max-width: 24%;
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .row-2 .menu--icon {
  background-color: #db7200;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.main-section .row-2 .menu span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 20px 0 22px 23px;
  background-color: #ffa100;
}

.main-section .row-2 .search {
  max-width: 75%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
/*# sourceMappingURL=style.css.map */